[{elog, [{level, info},
         {logger, {elogger_file, [{file, "logs/match_stream.log"}, {date_break, false}]}},
         {stats, [{logger, {elogger_file, [{file, "logs/match_stream.stats.log"}, {date_break, false}]}
                  }]}
        ]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/match_stream.sasl.log"}}]}].
