[{elog, [{level, info},
         {logger, {elogger_file, [{file, "logs/match_stream.log"}, {date_break, false}, {size_limit, 2000}]}},
         {stats, [{logger, {elogger_file, [{file, "logs/match_stream.stats.log"}, {size_limit, 2000}, {date_break, false}]}
                  }]}
        ]},
 {match_stream, [{web_port_range, {8701, 8799}},
                 {listener_port_range, {8801, 8899}}
                 ]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/match_stream.sasl.log"}}]}].
