{home, <<"elp">>}.
{visit, <<"tig">>}.
{start_date, {2011,09,10}}.
{steps, [
          {sleep, 3000},
          {start, [{home_players,
                    [{25, <<"Albil">>},
                     {14, <<"Mercado">>},
                     { 2, <<"Desabato">>},
                     { 3, <<"Cellay">>},
                     {27, <<"Dominguez">>},
                     {11, <<"Veron">>},
                     {10, <<"Fernandez">>},
                     { 5, <<"Sanchez">>},
                     {19, <<"Gonzalez">>},
                     {18, <<"Fernandez">>},
                     { 9, <<"Boselli">>}
                     ]},
                   {visit_players,
                    [{12, <<"Garcia">>},
                     {13, <<"Casteglione">>},
                     {21, <<"Echeverria">>},
                     { 3, <<"Blengio">>},
                     {15, <<"Diaz">>},
                     { 5, <<"Castano">>},
                     { 6, <<"Martinez">>},
                     {11, <<"Leone">>},
                     {10, <<"Morales">>},
                     { 7, <<"Luna">>},
                     { 9, <<"Maggiolo">>}
                     ]}
                  ]},
          {sleep, 5000},
          {goal, [{team, <<"tig">>}, {player, 7}]}, %% 5'
          {sleep, 12000},
          {penalty, [{team, <<"tig">>}, {player, 6}]}, %% 17'
          {sleep, 1000},
          {card, [{card, red}, {team, <<"elp">>}, {player, 25}]}, %% 18'
          {sleep, 1000},
          {substitution, [{team, <<"elp">>}, {player_in, {21, <<"Silva">>}}, {player_out, 18}]}, %% 19'
          {sleep, 2000},
          {card, [{card, yellow}, {team, <<"elp">>}, {player, 11}]}, %% 21'
          {card, [{card, yellow}, {team, <<"elp">>}, {player, 2}]}, %% 21'
          {sleep, 1000},
          {goal, [{team, <<"tig">>}, {player, 10}]}, %% 22'
          {sleep, 3000},
          {goal, [{team, <<"tig">>}, {player, 6}]}, %% 25'
          {sleep, 20000},
          {halftime_start, []}, %% 45'
          {sleep, 15000},
          {halftime_stop, []}, %% 60'
          {sleep, 15000},
          {goal, [{team, <<"elp">>}, {player, 7}, {player_team, <<"tig">>}]}, %% 75'
          {sleep, 4000},
          {substitution, [{team, <<"elp">>}, {player_in, {22, <<"Galvan">>}}, {player_out, 19}]}, %% 79'
          {sleep, 3000},
          {card, [{card, yellow}, {team, <<"tig">>}, {player, 3}]}, %% 82'
          {sleep, 1000},
          {substitution, [{team, <<"tig">>}, {player_in, {22, <<"Pio">>}}, {player_out, 6}]}, %% 83'
          {sleep, 1000},
          {substitution, [{team, <<"elp">>}, {player_in, {23, <<"Benitez">>}}, {player_out, 11}]}, %% 84'
          {sleep, 4000},
          {substitution, [{team, <<"tig">>}, {player_in, {23, <<"Rodales">>}}, {player_out, 15}]}, %% 88'
          {sleep, 5000},
          {substitution, [{team, <<"tig">>}, {player_in, {24, <<"Carrasco">>}}, {player_out, 9}]}, %% 93'
          {sleep, 1000},
          {card, [{card, yellow}, {team, <<"tig">>}, {player, 10}]}, %% 94'
          {sleep, 16000},
          {stop, []} %% 110'
        ]}.