{home, <<"elp">>}.
{visit, <<"tig">>}.
{start_date, {2011,09,10}}.
{steps, [
          {start, [{home_players,
                    [{25, <<"Albil">>},
                     {14, <<"Mercado">>},
                     { 2, <<"Desábato">>},
                     { 3, <<"Cellay">>},
                     {27, <<"Dominguez">>},
                     {11, <<"Verón">>},
                     {10, <<"Fernández">>},
                     { 5, <<"Sanchez">>},
                     {19, <<"Gonzalez">>},
                     {18, <<"Fernández">>},
                     { 9, <<"Boselli">>}
                     ]},
                   {visit_players,
                    [{12, <<"García">>},
                     {13, <<"Casteglione">>},
                     {21, <<"Echeverría">>},
                     { 3, <<"Blengio">>},
                     {15, <<"Díaz">>},
                     { 5, <<"Castaño">>},
                     { 6, <<"Martinez">>},
                     {11, <<"Leone">>},
                     {10, <<"Morales">>},
                     { 7, <<"Luna">>},
                     { 9, <<"Maggiolo">>}
                     ]}
                  ]},
          {goal, [{team, <<"tig">>}, {player, 7}]}, %% 5'
          {penalty, [{team, <<"tig">>}, {player, 6}]}, %% 17'
          {card, [{card, red}, {team, <<"elp">>}, {player, 25}]}, %% 18'
          {substitution, [{team, <<"elp">>}, {player_in, {21, <<"Silva">>}}, {player_out, 18}]}, %% 19'
          {card, [{card, yellow}, {team, <<"elp">>}, {player, 11}]}, %% 21'
          {card, [{card, yellow}, {team, <<"elp">>}, {player, 2}]}, %% 21'
          {goal, [{team, <<"tig">>}, {player, 10}]}, %% 22'
          {goal, [{team, <<"tig">>}, {player, 6}]}, %% 25'
          {halftime_start, []}, %% 45'
          {halftime_stop, []}, %% 60'
          {goal, [{team, <<"elp">>}, {player, 7}, {player_team, <<"tig">>}]}, %% 75'
          {substitution, [{team, <<"elp">>}, {player_in, {22, <<"Galván">>}}, {player_out, 19}]}, %% 79'
          {card, [{card, yellow}, {team, <<"tig">>}, {player, 3}]}, %% 82'
          {substitution, [{team, <<"tig">>}, {player_in, {22, <<"Pío">>}}, {player_out, 6}]}, %% 83'
          {substitution, [{team, <<"elp">>}, {player_in, {23, <<"Benitez">>}}, {player_out, 11}]}, %% 84'
          {substitution, [{team, <<"tig">>}, {player_in, {23, <<"Rodales">>}}, {player_out, 15}]}, %% 88'
          {substitution, [{team, <<"tig">>}, {player_in, {24, <<"Carrasco">>}}, {player_out, 9}]}, %% 93'
          {card, [{card, yellow}, {team, <<"tig">>}, {player, 10}]} %% 94'
          {stop, []}, %% 110'
        ]}.