{home, [{id, <<"gdc">>},
        {name, <<"Godoy Cruz">>},
        {division, <<"Primera A">>}]}.
{visit, [{id, <<"boc">>},
        {name, <<"Boca Juniors">>},
        {division, <<"Primera A">>}]}.
{start_date, {2011,09,10}}.
{stadium, <<"Estadio Mundialista de Mendoza">>}.
{steps, [
         {sleep, 3000},
         {start, [{home_players,
                   [{25, <<"Albil">>},
                    {14, <<"Mercado">>},
                    { 2, <<"Desabato">>},
                    { 3, <<"Cellay">>},
                    {27, <<"Dominguez">>},
                    {11, <<"Veron">>},
                    {10, <<"Fernandez">>},
                    { 5, <<"Sanchez">>},
                    {19, <<"Gonzalez">>},
                    {18, <<"Fernandez G.">>},
                    { 9, <<"Boselli">>}
                   ]},
                  {visit_players,
                   [{12, <<"Garcia">>},
                    {13, <<"Casteglione">>},
                    {21, <<"Echeverria">>},
                    { 3, <<"Blengio">>},
                    {15, <<"Diaz">>},
                    { 5, <<"Castano">>},
                    { 6, <<"Martinez">>},
                    {11, <<"Leone">>},
                    {10, <<"Morales">>},
                    { 7, <<"Luna">>},
                    { 9, <<"Maggiolo">>}
                   ]}
                 ]},
         {sleep, 5000},
         {goal, [{team, <<"boc">>}, {player, 7}]}, %% 5'
         {sleep, 12000},
         {foul, [{team, <<"gdc">>}, {player, 25}]},
         {penalty, [{team, <<"boc">>}, {player, 6}]}, %% 17'
         {sleep, 1000},
         {card, [{card, red}, {team, <<"gdc">>}, {player, 25}]}, %% 18'
         {sleep, 1000},
         {substitution, [{team, <<"gdc">>}, {player_in, {21, <<"Silva">>}}, {player_out, 18}]}, %% 19'
         {sleep, 2000},
         {card, [{card, yellow}, {team, <<"gdc">>}, {player, 11}]}, %% 21'
         {card, [{card, yellow}, {team, <<"gdc">>}, {player, 2}]}, %% 21'
         {sleep, 1000},
         {goal, [{team, <<"boc">>}, {player, 10}]}, %% 22'
         {sleep, 3000},
         {goal, [{team, <<"boc">>}, {player, 6}]}, %% 25'
         {sleep, 10000},
         {shot, [{team, <<"boc">>}, {player, 3}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 5}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 3}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 9}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 5}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 3}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 9}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 5}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 3}]}, %% 35'
         {sleep, 1000},
         {shot, [{team, <<"boc">>}, {player, 9}]}, %% 35'
         {save, [{team, <<"gdc">>}, {player, 1}]},
         {sleep, 1000},
         {halftime, []}, %% 45'
         {sleep, 15000},
         {continue, []}, %% 60'
         {sleep, 15000},
         {goal, [{team, <<"gdc">>}, {player, 7}, {player_team, <<"boc">>}]}, %% 75'
         {sleep, 4000},
         {substitution, [{team, <<"gdc">>}, {player_in, {22, <<"Galvan">>}}, {player_out, 19}]}, %% 79'
         {sleep, 3000},
         {card, [{card, yellow}, {team, <<"boc">>}, {player, 3}]}, %% 82'
         {sleep, 1000},
         {substitution, [{team, <<"boc">>}, {player_in, {22, <<"Pio">>}}, {player_out, 6}]}, %% 83'
         {sleep, 1000},
         {substitution, [{team, <<"gdc">>}, {player_in, {23, <<"Benitez">>}}, {player_out, 11}]}, %% 84'
         {sleep, 4000},
         {substitution, [{team, <<"boc">>}, {player_in, {23, <<"Rodales">>}}, {player_out, 15}]}, %% 88'
         {sleep, 5000},
         {substitution, [{team, <<"boc">>}, {player_in, {24, <<"Carrasco">>}}, {player_out, 9}]}, %% 93'
         {sleep, 1000},
         {card, [{card, yellow}, {team, <<"boc">>}, {player, 10}]}, %% 94'
         {sleep, 16000},
         {stop, []}
        ]}.