/*ESTRUCTURA*/
body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	outline: 0px;
}

#contentwrapper {
	float: left;
	width: 624px;
}

#main {
	background: #FFF;
	width: 624px;
	margin-bottom: 15px;
}

#subtitulo {
	height: 24px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	display: block;
}

#bienvenidaLogin,#bienvenidaLogout {
	float: right;
	font-size: 12px;
	color: #FFF;
}

.name {
	font-weight: bold;
	color: #729013;
	padding: 0px;
}

#header-container {
	height: 106px;
}

#header {
	width: 618px;
	height: 100px;
	position: relative;
	padding: 3px;
	background: darkgreen;
}

#headerContent {
	display: none;
}

#home {
	position: absolute;
	width: 250px;
	top: 8px;
	left: 10px;
}

.crest {
	float: left;
	width: 48px;
	height: 48px;
}

.team-name {
	font-family: Tahoma, Arial;
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;
	width: 180px;
	float: left;
}

.shadowed {
	text-shadow: -1px -1px 1px #000000;
	filter: dropshadow(color = #000000, offx = -1, offy = -1);
}

#visit {
	position: absolute;
	width: 250px;
	top: 8px;
	right: 10px;
}

#visit-name,#visit-crest {
	float: right !important;
	text-align: right;
}

#game-status {
	height: 78px;
	left: 263px;
	padding-top: 8px;
	position: absolute;
	top: 4px;
	width: 100px;
}

#time {
	background-color: black;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	height: 24px;
	margin-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 2px;
	text-align: center;
	width: 89px;
}

#score {
	color: #FFFFFF;
	letter-spacing: 5px;
	font-family: Tahoma, Arial;
	font-size: 48px;
	line-height: 1;
	position: relative;
	top: -4px;
	font-weight: bold;
	text-align: center;
	width: 100px;
}

#primerTiempo,#golLocal {
	float: left;
	height: 47px;
	margin-left: 4px;
	margin-top: 91px;
	position: relative;
	width: 303px;
}

#segundoTiempo,#golVisitante {
	float: right;
	height: 47px;
	margin-right: 4px;
	margin-top: 91px;
	position: relative;
	width: 303px;
}

#stadium {
	color: #E7E7E7;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	padding-right: 20px;
	position: absolute;
	right: 18px;
	text-align: right;
	top: 67px;
	width: 215px;
}

#content-column {
	width: 403px;
	float: left;
	padding: 0;
	margin-left: 5px;
	background: #FFF;
	z-index: 0;
}

#fblogout {
	color: #85ba06;
}

#leftcolumn {
	float: left;
	width: 190px; /*Width of left column in pixel*/
	background: #FFF;
	margin: 0px 17px 10px 5px;
	position: relative;
	z-index: 1;
}

/*COLUMNA CENTRAL RELATO*/
#stream {
	height: 1170px;
	font-size: 14px;
	color: #7f7f7f;
	line-height: normal;
	height: 1121px;
	z-index: 0;
	width: 401px;
	font-weight: bold;
	margin-left: 100px;
	border-left: solid 1px #dcddde;
	border-right: solid 1px #dcddde;
	background-color: #FFF;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

#footerTrans {
	background-image: url("../img/footer.png");
	bottom: 0;
	display: block;
	height: 75px;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.clearcontent {
	clear: both;
}

.separador {
	height: 10px;
}

.Tabla_resultados {
	float: left;
	width: 282px;
}

.SHeader {
	font-size: 11px;
	font-weight: bold;
}

.AltRow {
	font-size: 12px !important;
	background-color: #eceeff;
}

.puntos {
	color: #475dff;
}

.txt_gris {
	color: #666;
	line-height: 16px
}

.name a {
	color: #666 !important;
	text-decoration: none;
}

.name a:hover {
	color: #444 !important;
	text-decoration: underline;
}

#dias_partidos {
	float: right;
	font-size: 11px;
	height: 133px;
	margin-left: 12px;
	overflow: auto;
	width: 303px;
}

.resultado {
	color: #000;
	text-align: center;
}

#octavos,#cuartos {
	overflow: auto;
}

#semis,#final {
	overflow: hidden;
}

#semis tr.partido td {
	font-size: 16px;
	padding: 3px;
}

#final tr.partido td {
	font-size: 18px;
}

#final tr#tercero.partido td {
	font-size: 14px;
	padding: 2px;
}

#final tr.estadioMini td {
	font-size: 10px;
}

#final td.marcador {
	width: 30px !important;
	color: #FFF;
	background-color: #000;
}

#semis tr.estadio td {
	font-size: 10px;
}

final tr.estadio td {
	font-size: 11px;
}

.clear {
	clear: both;
}

ul#events {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	border-top: 1px solid #dcddde;
	position: relative;
	top: 0px;
}

ul#events * {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul#events>li {
	
}

ul#events li .eventBox {
	background-color: #E0E0E0;
	background-image: url("../images/backIncidencia.jpg");
	border-bottom: 1px solid #DCDDDE;
	padding: 10px;
	background-repeat: repeat-x;
}

ul#events li .event-time {
	color: #000;
	font-weight: bold;
	font-size: 16px;
}

ul#events li .event-detail {
	width: 75px;
	height: 52px;
	float: left;
	background: no-repeat right top;
}

ul#events li .event-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding-left: 75px;
}

ul#events li .event-options {
	clear: both;
	margin-left: 75px;
	font-size: 11px;
	font-weight: normal;
}

ul#events ul.social-local li {
	float: left;
	margin-right: 15px;
}

ul#events ul.social-local li a {
	text-decoration: none;
	color: #0E72E3;
}

ul#events ul.social-media {
	float: right;
	margin-right: 5px;
}

ul#events ul.social-media li {
	float: left;
}

ul#events ul.social-media li a {
	display: block;
	width: 16px;
	height: 16px;
	background: no-repeat center center;
	text-indent: -9000px;
	overflow: hidden;
	margin-left: 5px;
}

ul#events ul.social-media li.buzz a {
	background-image: url(../images/icon_red_buzz.png);
}

ul#events ul.social-media li.twitter a {
	background-image: url(../images/icon_red_twitter.png);
}

ul#events ul.social-media li.facebook a {
	background-image: url(../images/icon_red_facebook.png);
}

.expulsado {
	color: #666;
}

.pie_comentarios {
	background-color: #EEE;
	border-top: 1px dotted #dcddde;
	border-left: 1px solid #dcddde;
	border-right: 1px solid #dcddde;
	border-bottom: 1px solid #dcddde;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 7px;
	color: #729013;
	line-height: normal;
}

.pie_comentarios a {
	display: block;
	width: 16px;
	margin-right: 3px;
	height: 16px;
	float: left;
	text-indent: -99999px;
}

.upComent {
	background-image: url(../images/up.png);
}

.downComent {
	background-image: url(../images/down.png);
}

.topComent {
	background-image: url(../images/top.png);
}

ul#events li .event-comments {
	padding: 0px 10px 10px 85px;
	border-bottom: 1px solid #dcddde;
	background-image: url("../images/backComentFace.jpg");
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	font-size: 11px;
}

.timeIcon {
	width: 16px;
	height: 24px;
	position: absolute;
	cursor: pointer;
	display: block;
}

.gol {
	background-image: url(../images/golIcon.png);
	top: -2px;
	left: 96px;
}

.golContra {
	background-image: url(../images/golIconContra.png);
	top: -2px;
	left: 96px;
}

.dobleDobleamarilla {
	background-image: url("../images/iconDoble.png");
	height: 13px;
	width: 10px;
	top: 24px;
}

.tarjetaAm {
	background-image: url("../images/iconAmarilla.png");
	height: 13px;
	width: 10px;
	top: 24px;
}

.multiInc {
	background-image: url("../images/multiInc.png");
	height: 13px;
	width: 10px;
	top: 24px;
}

.cambio {
	background-image: url("../images/iconCambio.png");
	height: 13px;
	width: 10px;
	top: 7px;
}

.tarjeta {
	background-image: url("../images/iconRoja.png");
	height: 13px;
	width: 10px;
	top: 24px;
}

ul#events li .event-comments form {
	padding-top: 10px;
}

ul#events li .event-comments ul {
	clear: both;
}

ul#events li  .event-comments ul li {
	padding-top: 10px;
}

ul#events li .event-comments .commentAvatar {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
}

ul#events li .event-comments .commentText {
	float: left;
	width: 245px;
}

ul#events li .event-main .like {
	padding: 5px 3px 5px 30px; .
	padding: 2px 3px 5px 30px;
	clear: both;
	border: 1px solid #dcddde;
	background: url(../images/icon_gusto.gif) no-repeat 10px 5px;
	margin-left: 75px;
	font-size: 11px;
	margin-top: 10px;
}

ul#events li .event-form-msg {
	padding: 5px;
	clear: both;
	border: 1px solid #8e8e8e;
	background: #EFEFEF;
	font-size: 11px;
	color: #666;
	font-weight: bold;
	margin-bottom: 5px;
}

ul#events li .event-main .like a {
	font-weight: bold;
	text-decoration: none;
	color: #3788E3;
}

ul#events li .event-comments .commentText a {
	text-decoration: none;
	color: #3788e3;
}

ul#events li .event-comments textarea {
	font-family: "Lucida Grande", tahoma, verdana, arial, sans-serif;
	border: 1px solid #dcddde;
	padding: 7px;
	font-size: 11px;
	color: #666;
	width: 95%;
	height: 25px;
	resize: none;
}

ul#events li .event-comments .name-input {
	font-family: "Lucida Grande", tahoma, verdana, arial, sans-serif;
	border: 1px solid #dcddde;
	padding: 7px;
	font-size: 11px;
	color: #666;
	width: 89%;
	height: 17px;
	margin-bottom: 5px;
	padding-left: 25px;
	background: url(../images/anonimo.gif) no-repeat 5px center #FFF;
}

/* SPECIAL INCIDENCIA */
ul#events li.special {
	background-repeat: repeat-x;
	background-color: #89AD0B;
	background-image: url("../images/backComent.png");
}

ul#events li.special .eventBox {
	padding: 0px;
	border-bottom: none !important;
	background: no-repeat left bottom;
}

ul#events li.special .eventBox a {
	color: #006;
}

ul#events .special .event-main {
	padding: 10px;
}

ul#events .special .event-time {
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

ul#events .special .mask {
	background: url(../images/mask_white.gif);
	height: 9px;
}

ul#events .mask_comments .mask {
	background: url(../images/mask.gif) !important;
	height: 9px;
}

ul#events .special .event-comments {
	padding-top: 0px !important;
}

ul#events li.special .eventBox .event-text {
	color: #000;
}

ul#events li.special .eventBox .like {
	border: 1px solid #CCC;
	background: url(../images/backMeGusta.png) left center;
	color: #000;
}

ul#events li.special .sponsorsays {
	color: #000;
	font-weight: bold;
	margin-bottom: 5px;
}

div.sponsor {
	position: relative;
}

div#buttonsInc {
	height: 18px;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 45px;
}

div#buttonsInc a {
	display: block;
	float: left;
	height: 18px;
	margin-right: 9px;
	text-indent: -9999px;
	width: 18px;
}

.comment-button {
	background-color: #8a9cc2;
	border: 1px solid #29447E;
	border-bottom: solid 1px #1a356e;
	margin: 0 2px;
	display: block;
	margin-right: 9px;
	margin-left: 40px;
	width: 68px;
	margin-top: 5px !important;
}

.comentInc {
	background-image: url(../images/coment.png);
	background-position: 0 0px;
}

.comentIncA {
	background-image: url(../images/coment.png);
	background-position: 0px -18px;
}

#mute {
	background-image: url(../images/mute.png);
	margin-right: 0px !important;
	background-position: 0px 0px;
}

.comment-button input {
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background-color: #6079ab;
	font-family: "Lucida Grande", tahoma, verdana, arial, sans-serif;
	margin-top: 1px !important;
	padding: 4px 7px !important;
	width: 68px;
	text-align: center;
	border: none;
}

a#poweredby {
	background: url(../images/cejeaxlogo.gif) no-repeat;
	width: 58px;
	display: block;
	overflow: hidden;
	outline: none;
	text-indent: -9000px;
	float: right;
	height: 25px;
	margin-top: -5px;
	margin-right: -5px;
	position: relative;
}

.sinacciones {
	color: #666;
}

.window {
	background: #FFF;
	background-position: top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	font-family: "Lucida Grande", Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	text-align: center;
	min-width: 150px;
	min-height: 100px;
}

.window .window_contents {
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

.window .window_header {
	text-align: center;
}

.window .window_title {
	margin-top: -7px;
	margin-bottom: 7px;
	font-size: 11px;
	cursor: move;
}

.linkMoreComments {
	color: #3788E3;
	text-decoration: none;
	background: url('../images/more.png') left center no-repeat;
	display: block;
	padding-left: 18px !important;
}

.linkMoreComments:hover {
	text-decoration: underline;
}

/*.commentInputInactive {
    color: #666;
    border-color: #dcddde;
}*/
.commentInputActive {
	color: #000 !important;
	border-color: #dcddde;
}

.commentInputError {
	border-color: #9A0000 !important;
}

div#opinion {
	clear: both;
	text-align: center;
	background: #000;
	padding: 5px;
	margin-bottom: 10px;
}

img {
	border: none;
}

div#votacion,div#sediceque {
	border: 1px solid #dfdfdf;
	margin-bottom: 10px;
	width: 204px;
}

div#votacion h2 {
	background: url("../images/titleLateral.jpg") repeat scroll 0 0
		transparent;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	height: 26px;
	margin: 0 0 5px;
	overflow: hidden;
	padding-top: 3px;
	text-indent: 29px;
	border-bottom: 1px solid #d8d8d8;
	text-transform: uppercase;
	width: 204px;
}

div#sediceque h2 {
	display: block;
	background: url(../images/sedice.gif);
	height: 21px;
	width: 186px;
	margin: 1px;
	text-indent: -9000px;
	overflow: hidden;
}

div#sediceque li,div#sediceque ul {
	margin: 0px;
	padding: 0px;
	line-height: normal;
}

div#sediceque li {
	list-style: none;
	padding: 5px;
	border-bottom: 1px dotted #cfcfcf;
}

div#headerStatus {
	background: url("../images/durante.jpg") no-repeat scroll 0 0
		transparent;
	height: 31px;
	margin-top: 6px;
	overflow: hidden;
	width: 403px;
}

div#headerStatusFin {
	height: 10px;
	overflow: hidden;
	border-top: 1px solid #DCDDDE;
	border-left: 1px solid #DCDDDE;
	border-right: 1px solid #DCDDDE;
}

div#headerStatus.activo {
	background: url("../images/durante.jpg");
}

div#headerStatus.pre {
	background: url("../images/pre.png") no-repeat;
	overflow: hidden;
}

div#pieChart {
	background-image: url(../images/zona.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

div#pieChart div#pieContent {
	height: 157px;
}

div#pieChart div#vosChart {
	background: url(../images/vos.png) no-repeat;
	width: 53px;
	height: 30px;
	margin: 0;
	padding: 0;
}

div#referenciasPie {
	margin: 10px 0 5px 10px;
	font-size: 12px;
}

div#referenciasPie ul {
	margin: 0px;
	padding: 0;
}

div#referenciasPie ul li {
	list-style: none;
	margin-bottom: 3px;
	height: 22px;
	font-size: 12px;
}

div#referenciasPie div.porcentaje {
	width: 49px;
	height: 19px;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 2px;
	margin-right: 7px;
	float: left;
}

div#referenciasPie div#porcentsi {
	background-color: #84b905;
}

div#referenciasPie div#porcentquizas {
	background-color: #f9f200;
}

div#referenciasPie div#porcentno {
	background-color: #f33139;
}

.degrade {
	background: url('../images/bgvotos.png');
}

#handle1 {
	background-image: url(../images/handler.png);
	width: 14px;
	cursor: pointer;
	height: 14px;
	display: block;
}

#track1 {
	background-image: url("bg-fader.gif");
	background-repeat: no-repeat;
	height: 28px;
	left: 22px;
	position: absolute;
	top: 30px;
	width: 188px;
}

#element_id,#messageVote {
	color: #4A4A4A;
	float: left;
	font-size: 10px;
	line-height: 1.2;
	margin-left: 5px;
	margin-top: 5px;
	width: 141px;
}

#votar {
	background-image: url("../images/votar.png");
	display: block;
	height: 19px;
	position: absolute;
	right: 4px;
	text-indent: -99999px;
	top: 48px;
	width: 52px;
}

#votar:active {
	top: 49px;
}

#canchaContainerLocal,#canchaContainerVisitante {
	background-image: url("../images/cancha.png");
	background-position: left top;
	background-repeat: no-repeat;
	bottom: 0;
	display: block;
	float: left;
	height: 314px;
	position: absolute;
	width: 624px;
	z-index: 1;
}

.cancha {
	display: block;
	float: left;
	height: 276px;
	margin-left: 6px;
	margin-top: 6px;
	width: 386px;
	position: relative;
}

.jugadorDetalle {
	float: left;
	height: 255px;
	position: relative;
	width: 199px;
	margin-top: 7px;
	margin-left: 6px;
	display: block;
	padding: 10px;
}

.letraCancha {
	color: #313131;
	font-family: Tahoma, Arial;
	font-size: 12px;
}

.tituloNombre {
	display: block;
	font-size: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 1px;
}

.tituloPosicion {
	display: block;
	font-size: 10px;
	left: 61px;
	position: absolute;
	top: 53px;
}

.posicion {
	color: #1E1E1E;
	display: block;
	font-family: Tahoma, Arial;
	font-size: 14px;
	font-weight: bold;
	left: 60px;
	position: absolute;
	top: 69px;
}

.enEstepartido {
	height: 155px;
	left: 10px;
	overflow: auto;
	position: absolute;
	top: 120px;
	width: 207px;
}

h3 {
	text-align: center;
	color: #5B5B5B;
	display: block;
	font-family: tahoma, arial;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.enEstepartido ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px dotted #313131;
}

.enEstepartido ul li {
	font-family: tahoma, arial;
	font-size: 12px;
	padding: 2px;
	color: #313131;
	border-bottom: 1px dotted #313131;
}

.desc {
	float: left;
}

.infoCancha {
	float: right;
	font-weight: bold;
}

.containerButtons {
	bottom: 1px;
	height: 23px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 205px;
	z-index: 1;
}

#efectoCancha {
	width: 624px;
	height: 0px;
	position: relative;
	overflow: hidden;
	top: -57px;
	border-top: 3px solid transparent;
	z-index: 300;
}

.defensa,.medio,.medio2,.delantera {
	float: left;
	height: 276px;
	width: 80px;
	position: relative;
}

.defensa {
	margin-left: 55px;
}

.medio {
	
}

.medio2 {
	
}

.delantera {
	
}

.jugadorPos {
	color: #FFFFFF;
	display: block;
	font-family: tahoma, arial;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 2px #000000;
	position: absolute;
	left: 0;
	width: 70px;
}

.right {
	left: 10px !important;
}

.right li {
	float: left !important;
}

.vacio {
	background-position: 0px -84px;
}

.golPenal {
	background-position: 0px -28px;
}

.errado {
	background-position: 0px -56px;
}